* {
  font-family: arial, sans-serif;
  margin: 0;
}
body,
body > div {
  height: 100vh;
  width: 100vw;
}

#container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
#container > div {
  display: flex;
}
#navbar {
  padding: 2em;
  justify-content: space-evenly;
}
#main-section {
  flex-grow: 1;
}
#main-section > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.red {
  background-color: rgba(255, 105, 180, 0.5);
  box-shadow: 1em 1em 5em hotpink !important;
  border-radius: 0.3em;
}

.red > h1 {
  color: rgb(216, 55, 136) !important;
}
.blue {
  background-color: rgba(112, 214, 255, 0.5);
  box-shadow: 1em 1em 5em #70d7ff !important;
  border-radius: 0.3em;
}

.home {
  box-shadow: 0.6em 1em 5em yellowgreen !important;
  border-radius: 0.3em;
  padding: 2em;
}
.blue > h1 {
  color: #6dacc5 !important;
}

.hotpink {
  text-shadow: 0 0.6em 0.6em hotpink !important;
}

.hotblue {
  text-shadow: 0 0.6em 0.6em #70d7ff !important;
}

.hotgreen {
  text-shadow: 0 0.6em 0.7em yellowgreen !important;
}

.hotpinkP {
  color: hotpink !important;
}
.hotblueP {
  color: #70d7ff !important;
}
.hotgreenP {
  color: yellowgreen !important;
}

.redText:hover,
.redText:active {
  color: hotpink !important;
}
.blueText:hover,
.blueText:active {
  color: #70d7ff !important;
}

body {
  background-color: #000000 !important;
  background-image: url("https://www.transparenttextures.com/patterns/snow.png") !important;
  height: 100vh !important;
  width: 100vw !important;
  color: whitesmoke !important;
}
/* Height for devices larger than 576px */
@media (min-width: 992px) {
  #container {
    margin-top: -58.59px;
  }
}
nav > * {
  margin-top: 3em;
  font-size: 1.2em;
}
nav > div {
  display: flex !important;
  /*flex-direction: row-reverse !important;*/
  justify-content: flex-end;
}

.navbar-dark,
.bg-dark {
  background-color: transparent !important;
}

nav > div > ul > li {
  padding: 0.2em 1em;
}

#main-section {
  padding-top: 3em;
}

/*
.navbar .nav-link {
  color: #fff !important;
}*/
